body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

.header {
    font-size: 100px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.top {
    text-align: center;
    margin: 0;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    font-family: 'Shrikhand', cursive;
    background-color: #dbf9d6;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    /* box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25); */
}

#myButton1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    transition: 0s;
    
}
#myButton1:hover {
    background-color: white;
    border: 1px solid #4CAF50;
    color:  #4CAF50;
    transition-delay: 0.1s;

}
.hidden {
    margin: 3px 0 3px 10px;
    padding: 10px;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 60%;
    display: none;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 7px #d2d2d2;
    text-align: left;
}


.hidden2 {
    margin: 3px 0 3px 10px;
    padding: 10px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 67%;
    display: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 5px 7px #d2d2d2;
    width: 92%;
}

.center {
    margin: auto;
    width: 92%;
}

.row {
    margin: 30px;
    display: flex;
}

.column1 {
    flex: 40%;
}
.column2 {
    flex: 60%;
}

#col2 {
    margin-top: 111px;
}

p {
    font-size: 18px;
}

.info {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.building-accessibility1, .building-accessibility2 {
    margin: 30px;
}

li {
    padding: 5px;
}


/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 600px;
  }
  
  /* Make the image responsive */
.container img {
    height: auto;
}
  
  /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 1.5px;
    height: 1.5px;
    color: white;
    padding: 9px 9px;
    border: 1px solid rgb(135, 0, 0);
    cursor: pointer;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.container .btn:hover {
    background-color: rgb(255, 244, 244);
    transition-delay: 0.1s;
}

.container #btn1 {
    top: 30%;
    left: 40%;
    
}
.container #btn2 {
      top: 80%;
      left: 21%;
}
.container #btn21 {
    top: 86%;
    left: 21%;
}
.container #btn22 {
    top: 83%;
    left: 40%;
}

.container #btn3 {
    top: 95%;
    left: 65%;
}
.container #btn4 {
    top: 15%;
    left: 42%;
}

.container #btn5 {
    top: 85%;
    left: 75%;
}

.container #btn6 {
    top: 50%;
    left: 40%;
}