header {
    text-align: center;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;

}

body {
    font-family: 'Roboto', sans-serif;
}
.hidden {
    
    font-family: 'Roboto', sans-serif;
    margin: 3px 0 3px 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 67%;
    display: none;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 2%;
}
p {
    font-size: 18px;
}

.info, .building-accessibility1, .building-accessibility2 {
    margin: 10px 5px 20px 0;
}